<img src="../public/assets/img/burger.png" alt="Burger">
<h1>Eat-Da-Burger!</h1>
<ul>
    {{!-- Display each item within the key burgers imported from the controller --}}
    {{#each burgers}}
        {{!-- UNLESS devoured is true --}}
        {{#unless devoured}}
            <li>
                <p id={{this.id}}> 
                    {{!-- Value of burger_name from the imported object --}}
                    {{this.burger_name}}
                    <button class="devour" data-burgid={{this.id}}>Devour it</button>
                </p>
            </li>
        {{/unless}}
    {{/each}}
</ul>
<br>

<ul>
    {{!-- Display each item within the key burgers --}}
    {{#each burgers}}
        {{!-- IF devoured is true --}}
        {{#if devoured}}
            <li>
                <p id={{this.id}}> 
                    {{!-- Value of burger_name from the imported object --}}
                    {{this.burger_name}}
                <p>
            </li>
        {{/if}}
    {{/each}}
</ul>
<br>

<form id="burgInput" class="">
    <input type="text" name="burgInput">
    <button type="submit" id="submit">Submit</button>
    <p>Enter a burger you want to eat then click the "Submit button</p>
</form>